<div class="col-sm-6 col-md-8">
	<span class="widget-about-title">{{ 'sylius.ui.payment_methods'|trans  }}</span>
	<figure class="footer-payments">
		<img src="{{ asset('assets/images/payments.png') }}" alt="Payment methods" width="272" height="20">
	</figure>
</div>
