<div class="col-sm-6 col-md-4">
	<span class="widget-about-title">{{ 'molla.ui.question_call'|trans }}</span>
	<a href="tel:{{ sylius.channel.contactPhoneNumber }}">{{ sylius.channel.contactPhoneNumber }}</a>
</div>
