<div class="icon-boxes-container">
	<div class="container">
		<div class="row">

			{{ render(path('bitbag_sylius_cms_plugin_shop_block_render', {'code' : 'shipping', 'template' : '@SyliusShop/Cms/Block/_iconBox.html.twig'})) }}

			{{ render(path('bitbag_sylius_cms_plugin_shop_block_render', {'code' : 'return', 'template' : '@SyliusShop/Cms/Block/_iconBox.html.twig'})) }}

			{{ render(path('bitbag_sylius_cms_plugin_shop_block_render', {'code' : 'bonus', 'template' : '@SyliusShop/Cms/Block/_iconBox.html.twig'})) }}
			
            {{ render(path('bitbag_sylius_cms_plugin_shop_block_render', {'code' : 'support', 'template' : '@SyliusShop/Cms/Block/_iconBox.html.twig'})) }}

		</div>
		
	</div>
	
</div>
