<div class="footer-bottom">
	<div class="container">
		<p class="footer-copyright">{{ 'sylius.ui.copyright' }}</p>
			{{ render(path('bitbag_sylius_cms_plugin_shop_block_render', {'code' : 'social_links', 'template' : '@SyliusShop/Cms/Block/_default.html.twig'})) }}
	</div>
</div>
