<div class="header-center">
	<nav class="main-nav">
		{{ render(path('bitbag_sylius_cms_plugin_shop_page_index_by_section_code_template', {'sectionCode' : 'home_links', 'template' : '@SyliusShop/Cms/Page/_homeLinks.html.twig'})) }}
		
	</nav>
</div>
