<div class="header-bottom sticky-header">
	<div class="container">
		<div class="header-left">
			<div class="dropdown category-dropdown show is-on" data-visible="true">
				<a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-display="static" title="Browse Categories">
					{{'sylius.ui.browe_categories'}}
				</a>
				{{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'menu_category', 'template': '@SyliusShop/Taxon/_verticalMenu.html.twig'})) }}

			</div>
		</div>
		{{ render(path('bitbag_sylius_cms_plugin_shop_page_index_by_section_code_template', {'sectionCode' : 'home_links', 'template' : '@SyliusShop/Layout/Header/_headerCenter.html.twig'})) }}

	</div>
</div>
