{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
	<div class="page-content">
		<div class="container">
			<div class="mt-3"></div>
			<div class="row" id="reviews">
				<div class="col-md-3 col-sm-12">
					{{ sylius_template_event('sylius.shop.product_review.index.product_box', _context) }}
				</div>
				<div class="col-md-9 col-sm-12">
					<div class="border p-3" id="sylius-product-reviews" {{ sylius_test_html_attribute('product-reviews') }}>
						{{ sylius_template_event('sylius.shop.product_review.index.list', _context) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
