<div class="toolbox">
{% include '@SyliusShop/Product/Index/_pagination.html.twig' %}
	<div class="toolbox-left">
		<a href="#" class="sidebar-toggler d-none">
			<i class="icon-bars"></i>{{'sylius.ui.filters'|trans}}</a>
	</div>
	{% include '@SyliusShop/Product/Index/_sorting.html.twig' %}
</div>
