<div class="ui center aligned inverted basic segment">
    <h5>{{ 'open_marketplace.ui.footer_signature'|trans }}</h5>
    <a target="_blank" href="#"><i class="big grey linkedin icon"></i></a>
    <a target="_blank" href="#"><i class="big grey facebook icon"></i></a>
    <a target="_blank" href="#"><i class="big grey instagram icon"></i></a>
    <a target="_blank" href="#"><i class="big grey twitter card icon"></i></a>
    <a target="_blank" href="#"><i class="big grey github icon"></i></a>
</div>
