<div class="cta cta-horizontal cta-horizontal-box bg-primary">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-2xl-5col">
				<h3 class="cta-title text-white">{{ 'sylius.homepage.newsletter'|trans }}</h3>
				
				<p class="cta-desc text-white">{{ 'sylius.homepage.newsletter_description'|trans|raw }}</p>
				
			</div>

			<div class="col-3xl-5col">
				<form >
					<div class="input-group">
						<input type="email" class="form-control form-control-white" placeholder="{{ 'sylius.ui.email'|trans }}" aria-label="Email Adress" required>
						<div class="input-group-append">
							<button class="btn btn-outline-white-2" >
								<span>{{ 'sylius.homepage.subscribe'|trans }}</span>
								<i class="icon-long-arrow-right"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
